html{
    background: url(fondo_tenda.svg) no-repeat center center fixed;
    background-size: cover;

  }
  .contenedor-form {
    max-width: 550px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #faf9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.registrar {
    text-align: center;
}

.registrar h2 {
    margin-bottom: 9px;
}

.registrar form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registrar input[type="text"], .registrar input[type="password"] {
    width: 70%;
    height: 30px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.registrar input[type="submit"] {
    width: 40%;
    height: 40px;
    background-color: #2629c9;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.registrar input[type="submit"]:hover {
    background-color: #2a36a0;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px; 
    width: 74%;
}

.flex-container select {
    width: 18%; 
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    font-size: 14px;
    margin-bottom: 5;
}

.flex-container input.numero_documento {
    width: 95%;  
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-left: 10; 
}

  
  .mx-auto {
    display: block;
    margin: 0 auto;
  }
  
  .h-50 {
    height: 200px;
  }
  
  .w-auto {
    width: auto;
  }

h2 {
    text-align: center;
    margin-bottom: 20px;
  }

form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input[type="email"] {
    height: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    width: 40%;
    height: 40px;
    background-color: #2629c9;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #2a36a0;
  }

  .reenviar-checkbox {
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
  }
  
  .reenviar-checkbox input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 0 10px 0 0;
    vertical-align: middle;
  }
  
  .reenviar-checkbox span {
    vertical-align: middle;
  }
  
  .reenviar-checkbox input[type="checkbox"]:checked {
    background-color: #080808;
    border-color: #030303;
  }
  
  .reenviar-checkbox input[type="checkbox"]:checked + span {
    color: #050505;
  }

  body.home {
    background-attachment: scroll;
  }

  ul {
    list-style: none; 
    padding: 0;
    margin: 0;
}

.p_crear_CN{
  margin: 4px !important;
}

.input_login{
  margin: 0.1rem !important;
  width: 67%;
}

#password{
  padding: 10px;
  height: 30px;
}